  <fieldset>
    <legend>Seur Shipping Labels</legend>
    <ul>
      <% @order.shipments.each do |shipment| %>
        <% if shipment.seur_labels %>
          <li>
          <%= link_to "#{shipment.seur_label.show_tracking_number} - #{distance_of_time_in_words_to_now(shipment.seur_label.created_at)} ago", admin_order_shipments_seur_label_path(@order, @shipments, label, format: :pdf) %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
    <% @order.shipments.each do |shipment| %>
      <%= form_tag generate_seur_label_api_order_path(@order, :shipment_id => shipment.id), url:  generate_seur_label_api_order_path(@order), method: :post, id: 'seur-label-button' do |label_form| %>
        <%= hidden_field_tag :token, spree_current_user.spree_api_key %>
        <%= label_tag "Shipping Box" %>
        <%= select_tag "spree_shipping_box_id", options_from_collection_for_select(Spree::Shipping::Box.all, :id, :description) %>
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= submit_tag Spree.t(:generate_new_label) %>
        </div>
      <% end %>
    <% end %>
  </fieldset>
