<h6><i class='fa fa-truck'></i>&nbsp;&nbsp;<%= Spree.t(:your_order_status) %></h6>
 <table class="index" id='delivery-status'>
    <thead>
      <tr>
        <th class='hidden-xs'><%= Spree.t(:delivery_by) %></th>
        <th><%= Spree.t(:date_of_shipping) %></th>
        <th><%= Spree.t(:tracking_number) %></th>
        <th><%= Spree.t(:delivery_company) %></th>
        <th><%= Spree.t(:delivery_status) %></th>
      </tr>
    </thead>
    <tbody>
        <tr id="delivery-status" class="<%= cycle('odd', 'even')%>">
			<td class="align-center hidden-xs"><%= Spree.t(:company_name) %></td>
			<td class="align-center">29-02-2016</td>
			<td class="align-center">'H123456789'</td>
			<td class="align-center">
				<%= link_to 'http://www.seur.com/seguimiento-online.do' do %>
					SEUR
					<i class='fa fa-arrow-right'></i>
				<% end %>
			</td>        
			<td class="align-center">En Proceso...</td>        
        </tr>
    </tbody>
</table>

<p><%= @delivery_status[:error] %></p>